{% extends 'base.html' %}
{% block content %}
<h1>Clients List</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Pending</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}  
      <tr>
        <td>{{ client.clientname }}</td>  
        <td>{{ client.quantity }}</td>
        <td>{{ client.value }}</td>
        <td>{{ client.pending }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
